
# Next.js
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Database URL
DATABASE_URL='Your Postgresql Database URL'



# This Project uses Prisma Postgres as the database. 

# For testing and review purposes, the database API key has been included in the .env.example file 
# to make setup easier for the assessment checkers.

# NOTE: THIS IS STRICTLY FOR TESTING AND EVALUATION PURPOSES ONLY. 
# IN A PRODUCTION-READY APPLICATION, I WOULD NEVER COMMIT OR EXPOSE API KEYS / SECRET KEYS
# AND I WOULD PROPERLY SECURE ALL ENVIRONMENT VARIABLES.

# PASTE THIS DATABASE URL INTO THE DATABASE_URL VARIABLE
# DATABASE_URL="postgres://10ebf5f5cb75fbd3f05a88343342370eb55c18f54db8a14a786e6687da0a7563:sk_UOrU-qPIy7LAPdpbBX_9b@db.prisma.io:5432/postgres?sslmode=require"